@font-face {
    font-family: 'lethality/font/0';
    src: url('Roboto-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lethality/font/1';
    src: url('Roboto-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lethality/font/2';
    src: url('Roboto-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lethality/font/3';
    src: url('Roboto-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lethality/font/4';
    src: url('Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lethality/font/5';
    src: url('Roboto-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}